---
import CustomLoader from "@/components/CustomLoader.astro"
---

<head>
  <title>Redirecting...</title>
  <meta http-equiv="refresh" content="0;url=/en" />
  <style is:inline>
    body {
      background: #111111;
    }
  </style>
</head>

<div
  class="flex min-h-screen items-center justify-center bg-[#111111] text-zinc-400"
>
  <CustomLoader size="md" class="mx-auto" />
  <script is:inline>
    setTimeout(() => {
      window.location.replace("/en" + window.location.hash)
    }, 700)
  </script>
</div>
